@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --stripe-color: #0006;
}

.dark {
  --stripe-color: #fff6;
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.6;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.1);
  }
}
.animate-pulse-slow {
  animation: pulse-slow 8s ease-in-out infinite;
}
